Source: ros-rolling-mujoco-ros2-control-plugins
Section: misc
Priority: optional
Maintainer: Nathan Dunkelberger <nathan.b.dunkelberger@nasa.gov>
Build-Depends: debhelper (>= 9.0.0), libstd-msgs-dev, pluginlib-dev, python3-std-msgs, ros-rolling-ament-cmake, ros-rolling-ament-cmake-gtest <!nocheck>, ros-rolling-mujoco-vendor, ros-rolling-rclcpp, ros-rolling-ros2-control-cmake, ros-std-msgs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-mujoco-ros2-control-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libstd-msgs-dev, pluginlib-dev, python3-std-msgs, ros-rolling-mujoco-vendor, ros-rolling-rclcpp, ros-rolling-ros2-control-cmake, ros-std-msgs, ros-rolling-ros-workspace
Description: Plugin package for mujoco_ros2_control
